<ion-view title="Geeks">
  <ion-nav-buttons side="left">
    <button class="button button-positive"
              ng-click="randomizeGeeks()">
        Move Geeks a Step
      </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-positive"
              ng-click="startSimulation()">
        Simulate Geek Movements
      </button>
  </ion-nav-buttons>


  <ion-content class="has-header">
    <ion-list>
      <ion-item ng-repeat="geek in geeks" href="#/app/playlists/{{geek.id}}">
        {{geek.id}} @ {{geek.x}}/{{geek.y}}
        {{geek.color}}
        <div ng-repeat="t in geek.tech">{{t}}</div>
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
