<ion-view title="Geeks">
    <ion-nav-buttons side="left">
        <button class="button button-positive" ng-click="randomizeGeeks()">
            Move Geeks a Step
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-positive" ng-click="startSimulation()">
            Simulate Geek Movements
        </button>
    </ion-nav-buttons>

    <div style="width:100%; height:100%">
        <d3-geeks-plotter data="geeks"></d3-geeks-plotter>
    </div>


</ion-view>

<!-- <div>
    <d3-geeks-plotter data="geeks"></d3-geeks-plotter>
</div> -->
